{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<body style="background-color:#ccffcc">
<center>
<div style="width:65%; border:1px solid; border-color:#cccccc; padding:20px 30px; background-color:#f4ffd6">

<h2><small><p>
    Interested in, studying, or already working in the fields of Science, Technology, Engineering, or Mathematics? Want to connect with girls and women like yourself? Join LADIES OF STEM for opportunities to mentor or be mentored in your field of interest!
<br>
</p></small></h2>

</div>
</center>
</body>

<p>
<center>
{{=A('LOGIN', _class='btn', _href=URL('default', 'user'))}}
</center>
</p>
